<a href="https://colab.research.google.com/github/m-kharwade/AIML_IIITH/blob/main/29Oct_EulerProblems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
#### Find the sum of all the multiples of 3 or 5 below 1000.

In [3]:

def euler_001(limit: int) -> int:
  total , n = 0 ,1
  while n <limit:
    if n%3 ==0 or n%5==0 :
      total += n
    n+=1
  return total

In [4]:
print(euler_001(10))

23

In [5]:
print(euler_001(1000))

233168

In [6]:
def select(n: int) ->bool:
  return n%3 ==0 or n%5 ==0

def euler_001(limit: int) -> int:
  total = 0 
  for n in range(1,limit):
    if select(n):
      total += n
  return total

In [7]:
print(euler_001(1000))

233168

In [9]:
def euler_001_C(limit: int) -> int:
  return sum(range(3,limit,3))+sum(range(5,limit,5))-sum(range(15,limit,15))

In [10]:
print(euler_001_C(1000))

233168

In [11]:
def euler_001_D(limit: int) ->int:
  return sum(set(range(3,limit,3)) | set(range(5,limit,5)) )

AUB ={x|x belongsto A or x belongsto B }

In [14]:
def is_perfect_cube(n: int) -->bool:
  r=0
  while r * r * r < n:
    r+=1
  return r * r * r == n

In [15]:
print(is_perfect_cube(5))

False

In [47]:
def fun():
    for i in range(1000,9999):
      temp=pow(i,1/2)
      if temp.is_integer():
        k=i
        tempval=0
        while k>0:
          if (k%10)%2 !=0:
            tempval=1
          k=k//10
        if tempval == 0:
          print(i)       
fun()

4624
6084
6400
8464

In [18]:
def sample(n):
  while n > 0:
    if n % 2!=0:
      return False
    n //= 10
  return True

print(sample(246))

True

In [22]:
def multiple_of_100(n: int) -> int:
  return n + 100 -(n % 100)

print(multiple_of_100(14537))

14600

In [68]:
# Euler problem 21:

def fun(n):
  sum1=0
  sum2=0
  for i in range(1,n//2+1):
    if n%i==0:
      sum1+=i

  for k in range(1,sum1//2+1):
    if sum1%k==0:
      sum2+=k

  if n==sum2:
    print(str(n)+"----"+str(sum1))

for i in range(1,15000):
   
  fun(i)

6----6
28----28
220----284
284----220
496----496
1184----1210
1210----1184
2620----2924
2924----2620
5020----5564
5564----5020
6232----6368
6368----6232
8128----8128

In [ ]:
def fun(n):
  sum1=0
  sum2=0
  for i in range(1,n//2+1):
    if n%i==0:
      sum1+=i

  for k in range(1,sum1//2+1):
    if sum1%k==0:
      sum2+=k

  if n==sum2:
    print(str(n)+"----"+str(sum1))

for i in range(1,10000):
  fun(i)